@font-face {
    font-family: Century Gothic;
    src: url("../assets/fonts/centurygothic_bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri, sans-serif;
    background-color: #F8F6F4;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    padding: 46px 0 81px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__phone svg {
    margin-right: 10px;
}

.header__phone span {
    color: rgb(207, 165, 80);
    font-size: 16px;
}

.header__image-first {
    position: absolute;
    top: -27px;
    left: 276px;
    transform: rotate(-30deg);

}

.header__image-second {
    position: absolute;
    top: -113px;
    right: 80px;
    transform: rotate(45deg);
}

.header__action .button {
    display: none;
}

.header__vector {
    position: absolute;
    left: 54px;
    z-index: -1;
}

.main {
    padding: 100px 0 50px 0;
}

.main__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.main-text {
    max-width: 545px;
}

.main__text-title {
    margin-bottom: 20px;
}

.main__text-title h2 {
    color: rgb(35, 31, 32);
    font-family: Century Gothic, sans-serif;
    font-size: 38px;
}

.main__text-description {
    color: rgb(35, 31, 32);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 100px;
}

.main__text-info {
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.main-images {
    max-width: 545px;
    display: grid;
    grid-template-columns: minmax(280px, 545px);
    grid-template-rows: 280px 1fr;
    grid-gap: 40px;
}

.main-small-images {
    display: grid;
    grid-template-columns: 253px 1fr;
    grid-template-rows: 280px;
    grid-gap: 40px;
}

.biography {

}

.biography__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 0 80px 0;
}

.biography-image {
    width: 545px;
    position: relative;
}

.biography-image img {
    position: absolute;
    top: 0;
    left: -40px;
}

.biography-description {
    max-width: 545px;
}

.biography-born {
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
}

.biography-facts {
    margin-top: 20px;
}

.biography-fact {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.round {
    margin-right: 20px;
}

.biography-fact-text {
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
}

.conclusion {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid rgb(207, 165, 80);
    border-radius: 20px;
}

.conclusion-left {
    max-width: 728px;
    color: rgb(35, 31, 32);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.conclusion-right {
    max-width: 341px;
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
}

.example {
    padding: 100px 0 100px 0;
}

.example-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.example-text {
    max-width: 691px;
    /*padding-right: 39px;*/
}

.example-text-title {
    color: rgb(35, 31, 32);
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 100px;
}

.example-text-info {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 20px;
}

.example-text-description {
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
}

.example-main-image {

}

.example-work-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.symbols {
    padding: 100px 0 100px 0;
}

.symbol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.symbol-image {
    position: relative;
}

.symbol-decor {
    position: absolute;
    bottom: -130px;
    right: -130px;
    z-index: 1;
}

.symbol-info {
    max-width: 470px;
}

.symbol-info-title {
    margin-bottom: 40px;
    padding-right: 150px;
}

.symbol-info-title h2 {
    color: rgb(35, 31, 32);
    font-family: Century Gothic, sans-serif;
    font-size: 38px;

}

.symbol-info-text {
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
}

.symbol-info-text-ring {
    color: rgb(35, 31, 32);
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}

.symbol-info-form {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.symbol-info-form-text {
    width: 289px;
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
}

.symbol-info-form-image {
    padding: 17px 45px;
    border-radius: 20px;
    background-color: white;
}

.symbol-info-form-image img {
    box-sizing: border-box;
}

.explanation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explanation-text {
    max-width: 545px;
}

.explanation-text-title {
    color: rgb(35, 31, 32);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.explanation-text-info {
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.explanation-text-info:nth-child(4) {
    margin-bottom: 20px;
}

.explanation-text-info:last-child {
    margin-bottom: 0;
}

.explanation-text-title-form {
    color: rgb(35, 31, 32);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    padding-right: 150px;
    margin-bottom: 20px;
}

.explanation-text-info-forms {
    margin-bottom: 10px;
}

.explanation-text-info-form {
    margin-bottom: 10px;
}

.explanation-text-info-form svg {
    margin-right: 20px;
}

.explanation-text-info-form span {
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
}

.explanation-images {
    display: grid;
    grid-template-columns: repeat(2, 256px);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
}

.explanation-image-form6 {
    width: 256px;
    height: 206px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.lines {
    position: absolute;
    bottom: -40px;
    right: -40px;
}

.crystal {
    padding-bottom: 100px;
}

.power {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.power-images {
    display: grid;
    grid-template-columns: repeat(2, 253px);
    grid-column-gap: 40px;
    max-width: 545px;
}

.power-image-left {
    position: relative;
    width: 253px;
}

.ring1 {
    border-radius: 20px;
}

.lines2 {
    position: absolute;
    bottom: -40px;
    left: -40px;
}

.power-image-right {
    width: 253px;
}

.power-info {
    max-width: 545px;
}

.power-info-title {
    color: rgb(35, 31, 32);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    padding-right: 255px;
}

.power-info-text {
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
}

.blue-ring {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.blue-ring-info {
    max-width: 545px;
}

.blue-ring-info-title {
    color: rgb(35, 31, 32);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;
}

.blue-ring-info-text {
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
}

.blue-ring-image {
    max-width: 545px;
    position: relative;
}

.pyramid {
    padding-bottom: 100px;
}

.pyramid-connection {
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pyramid-connection-images {
    max-width: 545px;
    position: relative;
}

.symbol-decor2 {
    position: absolute;
    bottom: -128px;
    left: -128px;
}

.pyramid-connection-info {
    display: grid;
    grid-row-gap: 20px;
    max-width: 545px;
}

.pyramid-connection-info-title {
    color: rgb(35, 31, 32);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

.pyramid-connection-info-text {
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
}

.pyramid-facts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pyramid-facts-info {
    display: grid;
    grid-row-gap: 20px;
    max-width: 545px;
}

.pyramid-facts-info-title {
    color: rgb(35, 31, 32);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.pyramid-facts-info-text {
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
}

.pyramid-facts-images {
    max-width: 545px;
    position: relative;
}

.pyramid2 {
    border-radius: 20px;
}

.planet {
    padding-bottom: 100px;
}

.planet-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planet-image {
    max-width: 545px;
}

.planet-info {
    display: grid;
    grid-row-gap: 20px;
    max-width: 545px;
}

.planet-info-title {
    color: rgb(35, 31, 32);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

.planet-info-text {
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
}

.help {
    padding: 100px 0 100px 0;
    background-color: white;
}

.help-title {
    color: rgb(35, 31, 32);
    font-family: Century Gothic, sans-serif;
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 60px;
}
.help-points{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.help-points-info{
    width: 309px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.help-points-info-number{
    color: rgb(207, 165, 80);
    font-size: 65px;
    font-weight: 400;
    line-height: 1.5;
    margin-right: 30px;
}
.help-points-info-text{
    color: rgb(35, 31, 32);
    font-size: 16px;
    line-height: 1.5;
}

.footer{
    padding: 100px 0 100px 0;
    background-color: #231F20;
}
.footer-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.footer__address{
    color: rgb(207, 165, 80);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__phone{
    width: 248px;
}
.footer__phone svg {
    margin-right: 10px;
}

.footer__phone span {
    color: rgb(207, 165, 80);
    font-size: 16px;
}
.footer-rights{
    color: rgba(207, 165, 80, 0.38);
    font-size: 12px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}